#tabela_acoes {
    width: 250px;
}

#btn-editar {
    margin-right: 5px;
}

#input_tabela {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

#main {
    margin-left: 10%;
    margin-right: 10%;
}

#tabela_nome{width: 100px;}
#score{width: 10px;}
#posicao{width: 10px;}
#desde{width: 10px;}
#resolvidos{width: 10px;}
#tentados{width: 10px;}
#submissoes{width: 10px;}
#instituicao{width: 10px;}